*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{list-style: none;}
li{ font-size: 1.25em;}

button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: blueviolet;
}

button:hover{
    background-color: rgb(90, 26, 150);
}

.container{
    max-width: 1400px;
    margin: auto;
}

.color-acento{ color: blueviolet; }

header{
    background-color: rgb(245,245,245);

}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: blueviolet;
    font-size: 1.6em;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: blueviolet;
}

#hero{
    display: flex;       
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1{
    color: white;
}

#hero button{
    font-size: 1.75em;
}

#que-es .container{
    text-align: center;
    padding: 200px 12px;
}

#Ventajas1 .container{
    text-align: center;
    padding: 200px 12px;
}

#pros-contras{
    background-color: rgb(30, 30, 30);
    color: white;
    text-align: center;
}

#pros-contras .container{
    padding: 100px 12px;
}
#pros-contras h2{
    margin-top: 0;
    font-size: 3em;
}

#pros-contras p{
    display: none;
}

#pros-contras .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 30px;
    border-radius: 15px;
}

.carta:first-child{
background-image:  linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/ventajas.jpg");

}

.carta:nth-child(2){
background-image:  linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/riesgos.jpg");
}

.carta:nth-child(3){
background-image:  linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/curiosidades.jpg");

}

#caracteristicas .container{
    text-align: center;
    padding: 250px 12px;
}

#caracteristicas li{
    margin: 16px 0px;
    font-weight: bold;
}

#aplicaciones{
    background-color: rgb(30, 30, 30);
    color: white;
    text-align: center;
}

#aplicaciones .container{
    padding: 100px 12px;
}
#aplicaciones h2{
    margin-top: 0;
    font-size: 3em;
}

#aplicaciones p{
    display: none;
}

#aplicaciones .carta2{
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 30px;
    border-radius: 15px;
}

.carta2:first-child{
background-image:  linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/medicina.jpg");

}

.carta2:nth-child(2){
background-image:  linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/IA.jpg");
}

.carta2:nth-child(3){
background-image:  linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/Mas-carta.jpg");

}

footer{
    background-color: rgb(230, 230, 230);
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgb(100, 100, 100);
}


footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media (min-width: 720px){
    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #que-es .container{
        display: flex;
        justify-content: space-evenly;
    }

    #que-es .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #que-es h2{
        margin-top: 0;
    }

    #que-es .img-container{
        background-image: url("media/que.jpg");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px;
    }

    #pros-contras .programas{
        display: flex;
        justify-content: center;
    }

    #pros-contras p{
        display: block;
        margin-bottom: 30px;
    }

    #pros-contras h3{
        margin-top: 0;
    }

    #pros-contras .carta{
        padding: 50px;
    }

    #Ventajas1 .container{
        display: flex;
        justify-content: space-evenly;
    }

    #Ventajas1 .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #Ventajas1 h2{
        margin-top: 0;
    }

    #Ventajas1 .img-container{
        background-image: url("media/ventajas1.jpg");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px;
    }
}